<div class="navTerbang">
  <div class="nav">
    <input type="checkbox" id="nav">
    <label class="navBtn" for="nav">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div class=kontenNav>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, magnam, illum nam itaque sint dolorem possimus debitis quam facere non laboriosam. Quidem beatae illum libero eaque, similique a quas nulla!
      <div class="spoiler myArrow">
        <input type="checkbox" id="listBar">
        <label for="listBar">How much?</label>
        <div class=spoilerKonten>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla consectetur repudiandae tenetur alias ipsum odio quis, natus suscipit earum incidunt aspernatur dignissimos qui distinctio mollitia modi, fugit id sint facere.
        </div>
      </div>
    </div>
  </div>
</div>