<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
{{ template "_internal/schema.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<meta content='darkblue' name='msapplication-navbutton-color' />
<meta content='darkblue' name='apple-mobile-web-app-status-bar-style' />
<meta content='darkblue' name='theme-color' />
<!-- Icon -->
<link rel="icon" href="/img/favicon.ico" />
<link rel="stylesheet" href="/css/svg.css" type="text/css" media="all" />

{{ if .IsHome }}
  {{ partial "css/home.html" . }}
{{ end }}
{{ if eq .Kind "page" }}
  {{ partial "css/laman.html" . }}
{{ end }}
  {{ partial "css/end.html" . }}
<!-- Taru kode Google Analytic di sini, karena menurut aturan harus di dalam Head -->
{{ template "_internal/google_analytics.html" . }}