<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
{{ template "_internal/schema.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<!-- Icon -->
<link rel="icon" href="/img/logo.svg" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/my.css" />
<!-- Taru kode Google Analytic di sini, karena menurut aturan harus di dalam Head -->
{{ template "_internal/google_analytics.html" . }}