<hr/>
    <h1 class="mypost" alt="My Projek">{{ if .IsHome }} My Post {{ else }} {{ .Title }} {{ end }}</h1>
    <div class="myread">
{{ range .Paginator.Pages }}
      <div class="content">
        <a href="{{ .RelPermalink }}">
        <div class="readMore"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      </a></div>
      {{ end }}
    </div>
    <div class="pagination">
{{ if gt .Paginator.TotalPages 1 }}
{{ if .Paginator.HasPrev }}
          {{ with .Paginator.First }}
    <li class="page-item">
        <a href="{{ .URL }}" alt="go to First pages">&laquo;&laquo;</a>
    </li>
    {{ end }}
    <li><a href="{{ .Paginator.Prev.URL }}" alt="go to Preview Pages">  « </a></li>
    {{ else }}
    <li>Total halaman : {{ .Paginator.TotalPages }}</li>
{{ end }}
{{ if .Paginator.HasNext }}
    <li><a href="{{ .Paginator.Next.URL }}" alt="go to Next pages">  » </a></li>
        {{ with .Paginator.Last }}
    <li>
        <a alt="go to Last pages" href="{{ .URL }}" >&raquo;&raquo;</a>
    </li>
    {{ end }}
    {{ else }}
    <li>Ini Halaman Terakhir</li>
{{ end }}
{{ else }}
    <li>Tidak ada halaman Selanjutnya</li>
{{ end }}
    </div>
<hr/>