<h1>My Website</h1>
<div class="myread">
  <a href="https://lms.muryp.my.id/">
    <div class="content">
      <div class="date">
        <span class="nameSite">LMS </span>
        </div>
        <div class="readMore">
          Kumpulan modul belajar gratis
        </div>
      </div>
    </a>
  <a href="https://murypstudio.my.id/">
    <div class="content">
      <div class="date">
        <span class="nameSite">Arts </span>
        </div>
        <div class="readMore">
          Lihat konten gambar,arts, dan video
        </div>
      </div>
    </a>
  </div>