<nav class="navTerbang">
  <div class="nav">
    <input type="checkbox" id="nav">
    <label class="navBtn" for="nav">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div class=kontenNav>
      <header class="headerNav bottom">
        Navigation
      </header>
      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#project">Project</a></li>
    </div>
  </div>
</nav>