<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "navHeader.html" . }}
  {{ partial "headerPost.html" . }}
{{ if eq .Section "laman" }}{{else}}
{{ partial "breadcrumb.html" . }}{{end}}
  <div class="responsive">    
  <div class="mainPostingan">
      <hr />
    <div style="overflow:hidden;" class="post-content post-body">
      <!-------------- body post -------------->
        {{ .Content | emojify }}
      <!--------------Footer Post -------------->
{{ if eq .Section "laman" }}
{{ else }}
      <footer class="footerPost">
{{ with .Params.tags }}
        <div class="kategori">
          Kategori
    {{range .}}
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{end}}
        </div>
    {{ else }}
{{ end }}
{{ with .Params.catatan }}
        <div class="kategori">
          Kategori
    {{range .}}
            <a href="/catatan/{{ . | urlize }}">{{ . }}</a>
    {{end}}
        </div>
    {{ else }}
{{ end }}
        <div class="authorBottom">
          <div class="imgAuthor">
            <img src="https://1.bp.blogspot.com/-BWCKsx7BTRA/X7cXQfC7beI/AAAAAAAAAKw/4ALOzE5uPRkg80BcaNPTBbaNlLxRnyW_gCLcBGAsYHQ/s2048/profil-muryp-studio-min.png" alt="" class="author" />
          </div>
          <div class="infoBottom">
            <h1 class=""><a href="/author" name="InfoMuryPFooter">MuryP</a></h1>
            <p>
              Hello world!<br />I'm MuryP from Indonesian. I like Coding and Drawing. I hope you enjoy.
            </p>
          </div>
        </div>
      </footer>
      <div class="nav-post">
<div class="prev-post">
	{{ if .NextInSection }}
	<div class="btn">	<a class="link-reverse" href="{{ .NextInSection.Permalink }}?ref=footer">« Sebelumnya</a></div>
	<a class="link-reverse" href="{{ .NextInSection.Permalink }}?ref=footer">{{ .NextInSection.Title | truncate 50 "..."}}</a>
	{{ end }}
</div>
      <div class="next-post">
	{{ if .PrevInSection }}
	<div class="btn">	<a class="link-reverse" href="{{ .PrevInSection.Permalink }}?ref=footer"alt="selanjutnya">selanjutnya »</a></div>
	<a class="link-reverse" href="{{ .PrevInSection.Permalink }}?ref=footer">{{ .PrevInSection.Title | truncate 50 "..." }}</a>
	{{ end }}
</div>
      </div>
      {{ end }}
    </div>
  </div>
 {{ partial "disqus.html" . }}
  <div class="sidebar">
      {{ partial "related.html" . }}
      {{ partial "contact.html" . }}
  </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>