{{ $rumah := .Site.Params }}
{{ $warna2 := $rumah.warna2 }}
{{ $muda := $rumah.muda }}
  .BagianAtas {
    background-image: url({{$rumah.bagianAtas}});
    background-color:rgba(211,210,210,0.1);
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    border-radius: 0 0 5px 5px;
    color:{{$rumah.nav1}};
    padding: 25px 10px;
  }

  .bagianDalam {
    display: block;
  }
.btn span {
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: right;
  display: inline;
  background-size: 40px;
  padding: 25px;
}
  .btn {
    color: #fff;
    background-color: {{$warna2}};
    padding: 10px 20px;
    border-radius: 5px;
  }

  a:hover.btn {
    color: #fff!important
  }

  .bagianDalam p {
    color:{{$muda}} !important;
  }

  #sosmedh {
    margin: 50px auto
  }

  .myskill {
    display: inline-flex;
    align-content: center;
    align-items: center;
    margin: auto
  }

  .myskillcontainer {
    margin: 0 10px 0 10px
  }

  .myskillcontainer svg {
    min-width: 50px;
    width: 50px;
    padding: 5px;
    box-shadow: 0 0 10px {{$rumah.bayangan}};
    border-radius: 5px;
    fill:   {{$muda}};
    font-size: 50px
  }

  .myskillcontainer p {
    margin-top: 15px
  }
  .main {
    max-width: 720px!important;
    text-align: center;
    margin: auto
  }
  .main h1, .h1myskill, h1.Contact {
  padding: 5px;
  color: {{$warna2}} !important;
  margin-top: 50px;
  text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Serif !important;
  }
  .nameSite {
    font-size: 40px;
    font-weight: bold;
  }