<div class="sosmedhome">
<blockquote>
Saya lebih sering menggunakan Telegram dan Instagram. Kalau yang lainnya jarang digunakan.
</blockquote>
<h2>For bussines Contact :</h2>
{{ range .Site.Menus.contact.Sort.ByWeight }}
<a href='{{ .URL }}' rel='nofollow' target='_blank' title='{{ .Name }}'>
  <span class='{{ .Name }}' /></a>
{{ end }}
<h2>Ask me on:</h2>
{{ range .Site.Menus.ask.Sort.ByWeight }}
<a href='{{ .URL }}' rel='nofollow' target='_blank' title='{{ .Name }}'>
  <span class='{{ .Name }}' /></a>
{{ end }}
</div>