<h1 class="Contact">Get in Touch</h1>
<blockquote>
  Jika punya telegram lebih baik gunakan telegram dulu, nanti seterusnya pakek apa aja bisa. Soalnya jarang cek email.
</blockquote>
<h2>For bussines Contact :</h2>
{{ range .Site.Menus.contact.Sort.ByWeight }}
<a href='{{ .URL }}' rel='nofollow' target='_blank' title='{{ .Name }}'>
  <span class='{{ .Name }}' /></a>
{{ end }}
<h2>Ask me on:</h2>
{{ range .Site.Menus.ask.Sort.ByWeight }}
<a href='{{ .URL }}' rel='nofollow' target='_blank' title='{{ .Name }}'>
  <span class='{{ .Name }}' /></a>
{{ end }}