{{ $rumah := .Site.Params }}
{{ $warna2 := $rumah.warna2 }}
{{ $muda := $rumah.muda }}
  .BagianAtas {
    background-color:rgba(0,0,0,0.1);
    height: 90vh;
    max-height: 500px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    border-radius: 0 0 5px 5px;
    color:{{$rumah.nav1}};
    padding: 25px 10px;
  }

  .bagianDalam {
    display: block;
  }
.btn span {
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: right;
  display: inline;
  background-size: 40px;
  padding: 25px;
}
  .btn {
    color: #fff;
    background-color: {{$warna2}};
    padding: 10px 20px;
    border-radius: 5px;
  }

  a:hover.btn {
    color: #fff!important
  }

  .bagianDalam p {
    color:{{$muda}} !important;
  }

  #sosmedh {
    margin: 50px auto
  }
.myskill{
  display: flex;
  align-content: center;
}
.myskillcontainer{
  min-width:50px;
  margin: auto;
  max-width: 100px!important;
  max-height: 100px!important;
}
  .myskillcontainer svg {
    padding: 5px;
    box-shadow: 0 0 10px {{$rumah.bayangan}};
    border-radius: 5px;
    fill:   {{$muda}};
    font-size: 50px;
  }
  .main {
    text-align: left;
    margin: left;
  }
.readBg{/*bg readmore*/
  background: rgb(0,0,0,.03);
}