{{ $rumah := .Site.Params }}
{{ $warna := $rumah.color }}
{{ $warna2 := $rumah.warna2 }}
{{ $nav1 := $rumah.nav1 }}
{{ $bayangan := $rumah.bayangan }}
{{ $muda := $rumah.muda }}
  /* ======== reset ========= */
  html {
    box-sizing: border-box
  }
  *,::after,::before {
    box-sizing: inherit;
    max-width: 100%!important;
    margin: 0;
    padding: 0;
    font-weight: 500
  }
@-ms-viewport {
    width:device-width
  }
  article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
  }
  body {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: {{ $warna }};
    background-color: {{ $rumah.bgbody }}
  }
  blockquote cite {
    font-size: 70%;
    opacity: .8;
  }
  blockquote em {
    font-weight: 600;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.3em;
    margin: 30px 0 20px 0;
  }
  h1 {
    font-size: 200%
  }
  h2 {
    font-size: 180%
  }
  h3 {
    font-size: 160%
  }
  h4 {
    font-size: 140%
  }
  h5 {
    font-size: 120%
  }
  h6 {
    font-size: 100%
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem
  }

  pre {
    overflow: auto
  }

  a,a:hover {
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    color: {{$warna2}}
  }

  b,strong {
    font-weight:bold;
    {{ $rumah.tebal }}
  }

  blockquote {
    background-color: {{$muda}};
    padding: 15px;
    margin: 5px;
    border-left: 5px solid {{$warna2}};
    color: #fff;
    font-weight: 500;
    text-align: left
  }
  /* ========= Header ========== */
  .header {
    padding: 20px 0;
    width: 100%;
    position: relative;
    top: 0;
    height: 18px;
    z-index: 5;
    background-color: {{$nav1}};
    height: 50px;
  }
  .header a {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 1em;
    z-index: 9999;
  }
  #darkBtn svg {
    fill: #fff !important;
  }
  a.ohmyheader svg {
    width: 300px;
    transform: translate(0,6px);
  }
/*=============Bagian Navigasi===============*/
input[type="checkbox"] {
  /*spoiler global*/
  padding: 5px;
  opacity: 0;
}
.spoiler label {
  /* btn spoiler*/
  cursor: pointer;
  position: relative;
  display: block;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  text-align: right;
  padding: 8px 19px 8px 15px;
  width: 100%;
}
.shareTerbang label {
  /*btn share reset btn spoiler*/
  border: 0;
  width: 50px!important;
  height: 50px;
}
/*isi konten spoiler*/
#nav[type="checkbox"]:checked ~  .kontenNav {
  /*setelah di klick*/
  opacity: 100%;
  transform: translate(0,0);
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
}
.kontenNav,.spoilerKonten {
  /*reset daleman central*/
  background: rgb(234,234,234);/*warna bg nav&spoiler*/
  overflow: hidden;/*menghilangkan konten spoiler*/
  transition: all .6s;/*dursi animasi*/
}
.kontenNav {
  /*reset daleman spoiler navigasi*/
  /*width: 100vw!important;*/
  height: 100vh;/*tinggi konten nav*/
  transform: translate(999px,0);/*menyembunyikan nav*/
  overflow: scroll;/*efek scroll*/
  /*margin: 0;*/
}
.spoilerKonten {
  /*reset daleman spoiler global*/
  opacity: 0;/*transparansi konten spoiler*/
  width: 100vw;/*panjang konten spoiler*/
  padding: 0;/*reset padding awal*/
  height: 0;/*reset tinggi awal*/
}
.spoiler input[type="checkbox"]:checked ~  .spoilerKonten {
  /*menampilkan konten*/
  opacity: 100%;/*transparasi konten spoiler*/
  padding: 15px 0;/*padding konten spoiler*/
  height: auto;/*tinggi konten spoiler*/
}
/* Melayang */
.navTerbang,.shareTerbang {
  /*navigasi dan share btn*/
  position: fixed;/*efek terbang*/
  bottom: 0;/*jarak dengan bawah*/
  width: 50px;/*panjang*/
}
.navTerbang {
  height: 50px;/*agar tidak menghalangi tombol diatas*/
  z-index: 11;/*tingkatan layer*/
  right: 0;/*jarak samping kiri/mirip seperti text-align:right*/
}
.shareTerbang {
  z-index: 10;/*tingkatan layer*/
  left: 0;/*jarak samping kanan/mirip seperti text-align:left*/
}
/* Tombol Nav & Spoiler*/
i.iconShare {
  /*icpn brn share*/
  background-size: 30px;/*ukuran icon*/
  width: 50px;/*panjang bg*/
  min-height: 50px;/*min. tinggi bg*/
  background-position: center;/*posisi bg*/
  background-repeat: no-repeat;/*agar tidak mengulang*/
  position: absolute;/*agar kelihatan*/
  left: 15px;/*jarak samping kanan/mirip seperti text-align:leftf*/
  background-color: red;/*warna bg btn*/
  border-radius: 15px;/*tingkat ketumpulan btn*/
  bottom: 15px;/*jarak bagian bawah*/
  background-image: url("data:image/svg+xml, %3Csvg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7c2.761 0 5 2.239 5 5s-2.239 5-5 5-5-2.239-5-5 2.239-5 5-5zm11.122 12.065c-.073.301-.122.611-.122.935 0 2.209 1.791 4 4 4s4-1.791 4-4-1.791-4-4-4c-1.165 0-2.204.506-2.935 1.301l-5.488-2.927c-.23.636-.549 1.229-.943 1.764l5.488 2.927zm7.878-15.065c0-2.209-1.791-4-4-4s-4 1.791-4 4c0 .324.049.634.122.935l-5.488 2.927c.395.535.713 1.127.943 1.764l5.488-2.927c.731.795 1.77 1.301 2.935 1.301 2.209 0 4-1.791 4-4z' /%3E%3C/svg%3E");/*kalian bisa ganti warnanya 
 pada bagian fill*/
}
/*Anak Panah (Arrow)*/
.myArrow label::before {
  /*sebelum checked*/
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 10px;
  /*menambah anak panah*/
  border-left: 8px solid red;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
  transition: all .5s;
  width: 0;
}
.myArrow input[type="checkbox"]:checked ~ label::before {
  /*setelah checked*/
  transform: rotate(90deg) translate(5px,-13px);
}
/* humberger */
.navBtn {
  /*btn nav humberger*/
  box-sizing: border-box;
  width: 50px;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  position: absolute;
  border-radius: 15px;
  z-index: 9;
  bottom: 15px;
  right: 15px;
  background: red;
}
.navBtn span {
  display: inherit;
  width: 30px;
  height: 0;
  border-top: 5px solid #fff;
  transition: .5s;
  margin: 0 auto
}
.navBtn span:nth-child(2),.navBtn span:nth-child(3) {
  transform-origin: 0 0
}
/*humberger checked btn*/
#nav[type=checkbox]:checked ~ .navBtn span {
  display: flex;
  width: 30px;
  height: 0;
  border-top: 1px;
  transition: .5s;
  margin: -9px 10px auto;
  opacity: 100%;
}
#nav[type="checkbox"]:checked ~ .navBtn span:nth-child(1) {
  transform: rotate(45deg) translate(5px,23px)!important;
  color: #fff;
  border: 3.5px solid;
}
#nav[type=checkbox]:checked ~ .navBtn span:nth-child(2) {
  transform: scale(0)!important;
  opacity: 0
}
#nav[type="checkbox"]:checked ~ .navBtn span:nth-child(3) {
  transform: rotate(-45deg) translate(-17px,4px) !important;
  color: #fff;
  border: 3.5px solid;
}
/*====Daleman Navigasi====*/
.cardAuthor {
  text-align: center;
  box-shadow: 5px 10px 15px rgb(0,0,0,.07);
  padding: 15px 0;
}
.headerNav{
  background-color: red;
  padding: 15px 0;
  width:100vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 70px;
}
  /* ========== SosMed ==========*/
  .nav .sosmednav {
    margin: 25px 50px;
  }
  .shareTerbang .sosmednav{
    margin-left: 15px;
    background: blue;
  }
  .shareTerbang .sosmednav span{
    
    background-color: transparent;
  }
  
  .sosmedhome span,.sosmednav span {
    background-color: {{$nav1}};
    width: 50px;
    height: 50px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    display: inline-block;
  }
  .sosmednav span:hover {
    background-color: {{$warna2}};
  }
/*list navigasi*/
.nav li {
    list-style: none;
    cursor: pointer;
    padding: 15px;
  }
.nav li a {
    display: block;
    width: 90%;
    height: 20px;
    color: {{$nav1}};
    font-weight: bold;
  }
.nav li:hover {
    background: red;
  }
.nav li:hover a {
    color: #fff;
  }
  /* ========== search bar ========== */
  ::placeholder {
    color: {{$nav1}};
  }
:-ms-input-placeholder {
    color: {{$nav1}};
  }
  ::-ms-input-placeholder {
    color: {{$nav1}};
  }
  input.widget-search__field {
    border: 0;
    padding: 10px;
    resize: none;
    margin: 15px 0 ;
    border: 1px solid {{$nav1}};
    background-color: transparent;
    width:78%;
  }
  input.widget-search__submit {
    background-color: {{$warna2}}  !important;
    padding: 10px!important;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: transparent;
  }
  /* ======== Readmore && Related ========= */
  .content {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0,0,0,.1);
    margin: 25px auto !important;
    padding: 15px;
    width: 80%;
  }
  div.content:hover {
    transform: translate(5px,-5px);
  }
  .myread {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    text-align: left;
  }
  .myread a {
    color: {{$nav1}};
  }
  .myread .date {
    margin-right: 30px;
    width: 64px;
    text-align: center;
  }
  .myread .date .day {
    font-weight: 700;
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin: 20px auto;
  }
  .myread .date .rest {
    display: block;
    font-size: 0.75em;
  }
  /* ======== Pagenation ========= */
  .pagination {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .pagination a,.Total {
    padding: 15px;
    margin: 15px;
    background: {{$muda}};
    max-width: 50%;
    color: rgb(255,255,255,.8);
    font-weight: 900;
  }
  .pagination a:hover {
    background: {{$warna2}};
  }
  /* ========== Footer ========== */

  #footer {
    background: {{$nav1}};
    padding: 50px 10px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 -8px 15px rgba(0,0,0,.1);
    border-radius: 5px 5px 0 0;
  }
  .credit a {
    color: #fff;
    padding: 10px 10px;
    line-height: 35px;
  }
  #darkBtn {
    position: absolute;
    top: 15px;
    right: 5px;
  }
  .content:hover {
    transform: translate(15px,-15px) !important;
  }
  /* ==========  lazy load   ========== */
#container {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
}
#bg-image.lazy {
   background-image: none;
   background-color: #F1F1FA;
}
/*#bg-image {
  background-image: url("https://ik.imagekit.io/demo/img/image10.jpeg?tr=w-600,h-400");
  max-width: 600px;
  height: 400px;
}*/
  /* ==========  responsive  ========== */
@media only screen and (min-width:720px) {
    .BagianAtas {
      text-align: left !important;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: left;
      margin: auto;
    }
    header {
      text-align: right;
    }
    #darkBtn {
      right: 60px !important;
    }
        .myread {
      grid-template-columns: auto auto
        }
 .kontenNav {/*navigasi desktop*/
   opacity: 100%;
  transform: translate(0,0);
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 30%;
 }
 .navBtn{
   display: none;
 }
  }